{{#each article as |item|}}
  <h1 class="galleryItem" data-id="{{item.id}}"> <strong>{{item.title}}</strong></h1>
  <div class="galleryItem" data-id="{{item.id}}">
    <p>Article ID: {{item.id}}</p>
    <p>{{item.body}}</p>
    <br></br>
    {{#each comments as |comment|}}
      <div data-id="{{comment.id}}">
        <p>Comment ID: {{comment.id}}</p>
        <p>{{comment.title}}</p>
        <p>{{comment.body}}</p>
      </div>
      <br></br>
    {{/each}}
  </div>
{{/each}}
