  <h1 class="galleryItem" data-id="{{item.id}}"> <strong>{{article.title}}</strong></h1>
  <div class="galleryItem" data-id="{{item.id}}">
    <p>Article ID: {{article.id}}</p>
    <p>{{article.body}}</p>
    <span>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#postCommentModal">
              Post Comment
    </button>
  </span>
    <br></br>
    {{#each article.comments as |comment|}}
      <div data-id="{{comment.id}}">
        <p>User ID: {{comment.user_id}}, Comment ID: {{comment.id}}</p>
        <p>{{comment.title}}</p>
        <p>{{comment.body}}</p>
      </div>
      <br></br>
    {{/each}}
  </div>
